body {
    padding: 50px;
}

.info {
    margin-top: 90px;
    position: relative;
    background: rgba(223, 223, 223, 0.281);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    padding: 40px 20px;
}

.content {
    transform: translate(-100px);
    width: 450px;
    height: 400px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 50px;
    margin-left: 100px;
}

.content h2 {
    font-size: 3em;
    color: #7e323f;
}

.content p {
    font-size: 1.2em;
    text-align: justify;
    margin-top: 50px;
    color: #8a2435;
}

.content button {
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 50px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: none;
}

.imgBx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBx img {
    max-width: 200px;
    height: 250px;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%,100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(30px);
    }
}


.sumary {
    margin-top: 90px;
    position: relative;
    background: rgba(223, 223, 223, 0.281);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    padding: 50px 20px;
    font-size: 18px;
    text-align: justify;
}

.sumary h2 {
    font-size: 36px;
    padding-bottom: 30px;
    text-align: end;
}