.intro {
    margin-top: 110px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 100px;
    background: rgba(136, 133, 133, 0.137);
    box-shadow: 0 5px 15px rgba(117, 113, 115, 0.274);
    border-radius: 20px;
}

.imgPortfolio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPortfolio img {
    max-width: 200px;
    height: 250px;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(30px);
    }
}

.content {
    max-width: 450px;
    width: 450px;
    height: 400px;
    box-shadow: 0 5px 30px rgba(97, 5, 97, 0.1);


    background: #7802066b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #06116157, #7802066b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #06116157, #7802066b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.582);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content h2 {
    font-size: 3em;
    color: #dbd9d9;
}

.content p {
    font-size: 1.2em;
    text-align: justify;
    color: #ada6a6;
}

.content button {
    padding: 15px 30px;
    background: #fff;
    color: #000000;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    box-shadow: 0 5px 10px rgba(94, 94, 94, 0.425);
    border: none;
}


.sumary {
    margin-top: 90px;
    position: relative;
    display: flex;
    padding: 50px 90px;
    font-size: 18px;
    text-align: justify;
    color: #dbdbdb;
}

.sumary h2 {
    font-size: 36px;
    padding-bottom: 30px;
}

.sumary p span {
    color: #cc05b5;
    font-weight: 600;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 6rem;
    color: #ffffff;
}
.contactTittle {
    font-size: 28px;
    color: #cfcfcf;
}

.contact p {
    font-size: 16px;
    color: #a5026f;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 15px;
    border-radius: 50%;
    background-color: #444;
    box-shadow: 0 0 8px 1px;
    transition: .5%;
}

.fa-facebook-f:hover {
    color: #0051ff;
}

.fa-twitter:hover {
    color: #80c8ff;
}

.fa-instagram:hover {
    color: #db0cc3;
}

.fa-youtube-play:hover {
    color: #ff0808;
}