.experience {
    /* background: rgba(223, 223, 223, 0.281); */
    /* box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5); */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 90px 0;
}

.cardExp {
    max-width: 350px;
    position: relative;
    display: block;
    overflow: hidden;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 0.5rem;
    padding: 1rem;
    background: #ad5389;
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    background: linear-gradient(to right, #3c1053, #ad5389);
}

.experience .cardExp:nth-child(1) {
    margin-right: 500px;
}

.experience .cardExp:nth-child(2) {
    margin-top: -50px;
    margin-left: 500px;
}

.experience .cardExp:nth-child(3) {
    margin-top: -50px;
    margin-right: 500px;
}

@media (max-width: 991px) {
    .experience .cardExp:nth-child(1) {
        margin-right: 0;
    }
    
    .experience .cardExp:nth-child(2) {
        margin-top: 40px;
        margin-left: 0;
    }
    
    .experience .cardExp:nth-child(3) {
        margin-top: 40px;
        margin-right: 0;
    }
}



.headerExp {
    display: flex;
    justify-content: space-between;
    grid-gap: 1rem;
    gap: 1rem;
}

.titleExp {
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
}

.nameExp {
    font-size: 0.85rem;
    font-weight: 500;
    color: #aaa9aa;
    text-decoration: none;
}

.nameExp:hover {
    text-decoration: underline royalblue;
}

.imageExp {
    display: block;
    flex-shrink: 0;
    height: 2.3rem;
    border-radius: 0.5rem;
    object-fit: cover;
    background-color: royalblue;
}

.descriptionExp {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #dbd9d9;
    text-align: justify;
    margin-right: 15px;
}

.datesExp {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: -0.5rem;
}

.crExp {
    display: flex;
    flex-direction: column;
}

.dtExp {
    font-size: 0.70rem;
    line-height: 1rem;
    color: #ffffff9f;
}

.ddExp {
    font-size: 0.90rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #ffffffbd;
}