* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #534d4d;
    background: url(./assets/back.svg) no-repeat ;
    background-size: cover;
    background-position: center; 
}